{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RJ Journey</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    defer></script>
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body class="container-fluid row">


  <h1 class="logo1"> Start Your Journey</h1>

  <div class="container">
    <div class="col-md-4 buttons btn-group-vertical">
      <a href="{% url 'forum' %}"><button class="forum-button btn-md">
          <span>Forum</span></button></a>
      <a href="{% url 'listings' %}"><button
          class=" listings-button btn-md"><span>Listings</span></button></a>
      <a href="{% url 'editprofile' request.user.id %}"><button
          class="editprofile-button btn-md">
          <span>Edit
            Profile</span></button></a>
    </div>
  </div>
</body>

</html>