<!DOCTYPE html>

{% load static %}
{% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Profile</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    defer></script>
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/editprofile.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">RC Journey</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'forum' %}">Forum</a>
      </li>

    </ul>
  </nav>
  <!-- <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Edit Profile For: {{ user }}</h1>
        <div class="card-body"><img class="card-img"
            src="{{ user.profile.profile_image.url }}"
            alt="{{profile.user.username}}" /></div>
        <div class="card-footer"></div>

      </div>
    </div>
  </div> -->

  <div class="col-md-8">
    <div class="card-body">
    </div>
  </div>
  </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <div class="row">
    <div class="col-md-3">
      <div class="card card-body">
        <a href="{% url 'profile' request.user.id %}" class="btn btn-warning">
          View My
          Profile</a>
        <hr>
        <h3 style="text-align: center">Account Settings</h3>
        <hr>


      </div>
    </div>
    <div class="col-md-9">
      <div class="card card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">{{form}}</fieldset>
          <input class="btn btn-primary" type="submit"
            name="Update Information">
        </form>
      </div>
    </div>
  </div>

  {% endblock %}


</body>

</html>