<!DOCTYPE html>

{% load static %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">RC Journey</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
        </li>
      </ul>
    </nav>
    <h1>This is the edit profile page</h1><div class="col-md-4">
      <img src="{{ user.profile.profile_image.url }}" alt="{{profile.user.username}}"
        class="card-img" />
    </div>
    <div class="col-md-8">
    <small>{{ profile.user.username }}</small>
      <div class="card-body">
        <h5 class="card-title">{{ user }}</h5>
        <!-- <p class="card-text">{{ user.profile.bio }}</p> -->
        <!-- <p class="card-text">
          <small class="text-muted">Date Joined: {{ profile.user.date_joined|date:"M
            d, Y" }}</small>
        </p> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.user_id.user.username }}</h5>
    
          <p class="card-text">{{ post.post }}</p>
          {% for tag in post.tags.all %}
          <p class="card-text">{{ tag.name }}</p>
          {% endfor %}
          <p class="card-text">
            <small class="text-muted">{{ post.date_created }}</small>
          </p>
        </div>
      </div>
    </div> 
    <!-- ----------------------------------------------------------------------- -->
    <div class="row">
      <div class="col-md-3">
        <div class="card card-body">
          <a class="btn btn-warning"> Back to
            Profile</a>
          <hr>
          <h3 style="text-align: center">Account Settings</h3>
          <hr>
         
      
        </div>
      </div>
      <div class="col-md-9">
        <div class="card card-body">
    
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">{{form}}</fieldset>
            <input class="btn btn-primary" type="submit" name="Update Information">
          </form>
        </div>
      </div>
    </div>
    
    {% endblock %}
    

  </body>
</html>
