{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/forum.css' %}" />
  </head>

  <body>
    {% comment %}{% load rcapp_extras %}{% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">RC Journey</a>
      <form
        class="form-inline my-2 my-lg-0 ml-auto"
        method="GET"
        action="{% url 'search' %}"
      >
        <input
          class="form-control mr-sm-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listings' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </nav>

    <h1>Share your Journey</h1>
    <div class="col-md-8 mx-auto">
      <div class="card card-body">
        <form method="POST" action="">
          {% csrf_token %} {{form.as_p}}

          <input
            class="btn btn-primary"
            type="submit"
            name="create"
            value="Create"
          />
        </form>
      </div>
    </div>
    <!-- <hr />
    <div class="row">
      <div class="col col-md-8 mx-auto">
        <div class="card card-body">
          <form method="GET">
            {% comment %}{{ post_filter.form.as_p }}{% endcomment %}
            <input
              type="submit"
              class="btn btn-primary"
              name="search"
              value="Search"
            />
          </form>
        </div>
      </div>
    </div>
    <hr /> -->
    {% comment %}{% for post in posts_page_obj %}{% endcomment %}
    {% if search%}
    {% if posts%}<div
      style="
        margin: 0 auto;
        margin-top: 20px;
        max-width: 540px;
        height: 50px;
        line-height: 50px;
        background-color: darkorange;
        font-size: 1.5em;
        text-align: center;
      "
    > 
      Your search returned following results:

    
    </div>{% endif%}
    {% for post in posts %}
    <div class="card my-3 mx-auto" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ post.user_id.profile_image.url }}"
            alt="{{ post.user_id.user.username }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.user_id.user.username }}</h5>
            <p class="card-text">{{ post.post }}</p>
            <p>Posted by: {{ post.user_id.username }}</p>
            Tags: {% for tag in post.tags.all %}
            <a
              href="{% url 'posts_by_tag' tag.slug %}"
              style="text-transform: capitalize"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary text-capitalize p-0"
              >
                #{{ tag.name }}
                <span class="badge badge-light"
                  >{% for c in tagcount%} {% if c.0 == tag.name%} {{c.1}}
                  {%endif%} {% endfor%}</span
                >
              </button></a
            >
            {% endfor %}
            <p class="card-text">
              <small class="text-muted">{{ post.date_created }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %} {% for post in posts %}
    <div class="card col-md-8 my-3 mx-auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ post.user_id.profile_image.url }}"
            alt="{{ post.user_id.user.username }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <!-- <a
              href="{% url 'profile' post.user_id %}"
              class="card-title"
              >{{ post.user_id.user.username }}</a
            > -->

            <p class="card-text">{{ post.post }}</p>
            Tags: {% for tag in post.tags.all %}
            <a
              href="{% url 'posts_by_tag' tag.slug %}"
              style="text-transform: capitalize"
            >
              <button
                type="button"
                class="btn btn-sm btn-primary text-capitalize p-0"
              >
                #{{ tag.name }}
                <span class="badge badge-light"
                  >{% for c in tagcount%} {% if c.0 == tag.name%} {{c.1}}
                  {%endif%} {% endfor%}</span
                >
              </button></a
            >
            <!-- <span class="card-text">{{ tag.name }} |</span> -->
            {% endfor %}
            <p class="card-text">
              <small class="text-muted"
                >{{ post.date_created|date:"M d, Y" }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}{% endif %}
    <br />
    <!-- {% comment %}
    {% if posts_page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">
      {% if posts_page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="{% my_url posts_page_obj.previous_page_number 'page' request.GET.urlencode%}}"
          >&laquo;</a
        >
      </li>
      {% else %}
      <li class="disabled page-item">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      {% endif %}
      <br />
      {% for i in posts_page_obj.paginator.page_range %}
      <br />
      {% if posts_page_obj.number == i %}
      <li class="disabled page-item">
        <a class="page-link" href="#"
          >{{ i }} <span class="sr-only">(current)</span></a
        >
      </li>
      {% else %}
      <li class="page-item active">
        <a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}"
          >{{ i }}</a
        >
      </li>
      {% endif %} {% endfor %} {% if posts_page_obj.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="{% my_url posts_page_obj.next_page_number 'page' request.GET.urlencode %}"
          >&raquo;</a
        >
      </li>
      {% else %}
      <li class="disabled page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    {% endcomment %} -->
  </body>
</html>
