{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/forum.css' %}" />
  </head>

  <body>
    {% load rcapp_extras %}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a class="navbar-brand" href="/">RC Journey</a>
      <form class="form-inline my-2 my-lg-0 ml-auto"></form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listings' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="card post-card">
        <div class="card-header">
          <div class="card-body row p-5">
            <div class="col-md-6 my-3">
              <h1 class="text-center post-title">Search Posts</h1>
              <div class="card search-for-post-card">
                <div class="card-body">
                  <form method="GET" id="search-form">
                    {{ post_filter.form.as_p }}
                    <div class="text-center">
                      <input
                        type="submit"
                        class="
                          btn btn-dark
                          border
                          w-25
                          border-light
                          text-center
                        "
                        name="search"
                        value="Search"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-3">
              <h1 class="text-center">Submit Your Post Here!</h1>
              <div class="card-body">
                <form method="POST" action="" class="post-form">
                  {% csrf_token %} {{form.as_p}}
                  <div class="text-center post-btn">
                    <input
                      class="btn btn-dark border border-light w-50"
                      type="submit"
                      name="create"
                      value="Create"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p class="text-center small">
              Your post will be visible to all members of the RC Journey
              community
            </p>
          </div>
        </div>
      </div>

      <hr />
      {% for post in posts_page_obj %}

      <div class="card all-posts-card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img
              src="{{ post.user_id.profile_image.url }}"
              alt="{{ post.user_id.user.username }}"
              class="user-img card-img"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <a href="{% url 'profile' post.user_id.user.id %}">
                <h1 class="text-secondary">{{ post.user_id.user.username }}</h1>
              </a>
              <p class="text-dark">{{ post.post }}</p>

              <div
                class="border-solid border-secondary border-top row p-3 ml-2"
              >
                {% for tag in post.tags.all %}
                <h5 class="mr-2">
                  <span class="badge badge-pill badge-purple"
                    >{{ tag.name }}</span
                  >
                </h5>
                {% endfor %}
              </div>

              <div class="text-right">
                <small class="text-muted">
                  {{ post.date_created|date:"M d, Y" }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <br />
      {% if posts_page_obj.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if posts_page_obj.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% my_url posts_page_obj.previous_page_number 'page' request.GET.urlencode%}}"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="disabled page-item">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
        <br />
        {% for i in posts_page_obj.paginator.page_range %}
        <br />
        {% if posts_page_obj.number == i %}
        <li class="disabled page-item">
          <a class="page-link" href="#"
            >{{ i }} <span class="sr-only">(current)</span></a
          >
        </li>
        {% else %}
        <li class="page-item active">
          <a
            class="page-link"
            href="{% my_url i 'page' request.GET.urlencode %}"
          >
            {{ i }}</a
          >
        </li>
        {% endif %} {% endfor %} {% if posts_page_obj.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% my_url posts_page_obj.next_page_number 'page' request.GET.urlencode %}"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="disabled page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
