@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("/static/images/db-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slug {
  margin-top: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-group-vertical {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
  position: relative;
  border: none;
  color: #065665;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  margin: 10px;
  border-radius: 7px;
  width: 7em;
  padding: .35em 0 .35em 0
}

.btn-md {
  background-color: #84e4f7e3;
}

button::before, button::after {
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background:#065665;
}

span::before, span::after {
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #065665;
}

button:hover::before, button:hover::after {
  width: 100%;
}

button:hover span::before, button:hover span::after {
  height: 100%;
}

.dashboard-btn::before, .dashboard-btn::after {
  transition-delay: 0.2s;
}

.dashboard-btn span::before, .dashboard-btn span::after {
  transition-delay: 0s;
}

.dashboard-btn::before {
  right: 0;
  top: 0;
}

.dashboard-btn::after {
  left: 0;
  bottom: 0;
}

.dashboard-btn span::before{
  left: 0;
  top: 0;
}
.dashboard-btn span::after {
  right: 0;
  bottom: 0;
}

.dashboard-btn:hover::before, .dashboard-btn:hover::after {
  transition-delay: 0s;
}

.dashboard-btn:hover span::before, .dashboard-btn:hover span::after {
  transition-delay: 0.2s;
}