body {
    background: url("/static/images/db-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo1 {
    text-align: center;
    width: 75%;
    height: 150px;
    line-height: 150px;
}

.logo1 a {
    color:brown;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-shadow: 2px 2px 12px #333;
}

.navi {
    text-align: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.navi p {
  display: inline-block;
}

.navi a {
    display: block;
    color:brown;
    position: relative;
    font-size: 3em;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.navi a:hover {
    text-decoration: none;
    text-shadow: 0 6px 10px rgba(0,0,0,.5), 0 0 6px rgba(0,0,0,.05);
    transform: scale(1.5);
}