img {
    min-width: 10%;
    min-height: 40%;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    top: 5em;
    left: 8em;
    height: 3em;
}
#profile_image-clear_id, label{
display: none;
}